# for OSBot
git+https://github.com/owasp-sbot/OSBot-Utils.git@dev
git+https://github.com/owasp-sbot/OSBot-AWS.git@dev
python-dotenv
boto3

#for fastapi
fastapi
uvicorn

# for openai
openai

# for testing
pytest
pytest-asyncio
httpx
coverage
requests